/*-- scss:defaults --*/

/*$body-bg: #023047!default; */
/*$body-bg: #034a6d!default;*/
$body-bg: #191970!default;
$body-color: #fff !default;
$link-color: #fff  !default;
$input-panel-bg: #fff !default;
$code-color: #fdfd96!default;
$font-family-sans-serif: Montserrat, Arial!default;
$code-annotation-higlight-color: #231942 !default;

