/* Fondo general para TODAS las páginas */

body {
  background-image: url("image/back4.png");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
}


.info-card {
  font-size: 1.2rem;
  border-radius: 20px;
}

a {
  color: #604ec2;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #604ec2;
  text-decoration: underline;
}
